* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body {
  background-color: rgb(39, 38, 38);
  color: white;
} */
.about-sec {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 15px;
}
.for-img {
  height: 400px;
  width: 350px;
  margin-left: 10px;
  margin-right: 35px;
}
.for-about {
  margin-top: 10px;
  font-weight: 200;
  font-size: 14px;
  /* height: 400px;
  width: 350px; */
  /* text-align: center; */
}
.features {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  font-weight: 200;
  font-size: 14px;
}
.fea {
  height: 300px;
  width: 300px;
  margin-left: -200px;
}
